_archive/
_prompt_templates/
_secrets/
_tests/
app_base_knowledge/
app_databases/
app_generated_files/
app_local_models/
app_source_data/
archived_versions_main/
dev/
dev_work/
db/
hey_data/
Open_Sans/
venv/
src/src_local_chatbot/user_persona.py
**/user_persona.py
.vscode/
.idea/
_requirements.txt
.env
*.env
*.DS_Store
*.log
*.sqlite3
*.db
*.pyc
utilities/