_archive/
_tests/
app_base_knowledge/
app_generated_files/
app_local_models/
app_source_data/
db/
hey_data/
venv/

_requirements.txt
.env

__pycache__/
*.pyc
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.sqlite3
*.db